.container-wallet{
  margin: auto 0.75rem;
  padding: 0.75rem auto;
}

.section-wallet {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  height: 110px;
  cursor: pointer;
}

.content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-rigth{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_wallets {
  width: 4rem;
  border-radius: 5rem;
}

.text-white {
  color: aliceblue;
}

.tittle-aly {
  font-size: 20px;
}

.letters-aly-wallet {
  margin-top: 1rem;
}

.letters-aly {
  color: gray;
  font-size: 13px;
}

.letters-balance-wallet {
  margin-top: .5rem;
}

.letters-balance {
  color: gray;
  font-size: 13px;
}

.color-bold {
  color: #fecb2e;
}

.box-wall {
  color: black;
}

.print {
  background-color: black;
}

.content-img-wallet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  width: 10%;
}

.component__content {
  border: 2px solid yellow;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 360px) and (max-width: 1199px) {
  .img_wallets {
    border-radius: 5rem;
    width: 3rem;
  }
}
