.custom-label {
  color: $colorYellow;
}

.hijo {
  margin: 15px auto;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.error-label {
  color: rgb(238, 81, 107);
}

.text-aly {
  float: left;
  color: $colorYellow;
}
