.cont-recharge {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  //border: 2px solid black;
  width: 100%;
  justify-content: space-between;
}

.cont-bills {
  display: flex;
  flex-wrap: wrap;
}

.recharge-bills-one {
  display: flex;
  width: 50%;
}

.recharge-bills-twoo {
  display: flex;
  width: 50%;
}

.cont-cant {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn-send-charg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn-send-50 {
  width: 100%;
}

.cont-cant-one {
  width: 30%;
}

.cont-cant-twoo {
  width: 30%;
}

.cont-cant-tree {
  width: 40%;
}

.btn-send-70 {
  width: 70%;
}

.btn-send-30 {
  width: 30%;
}
