.container-flex-receive {
  align-items: flex-start;
  border-bottom: 2px solid gray;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.cont-text-receive {
  width: 100%;
}

.container-receive-money {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.description-receive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 10px;
}

.cont-text-bal {
  width: 100%;
}
/**************************/
.container-balance {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
}

.container-balance div {
  padding: 10px;
}

.title-money-receive {
  color: gray;
  line-height: 18px;
  float: left;
}

.content-receive {
  color: #fecb2e;
  line-height: 20px;
  text-align: left;
}

.style-balance {
  margin: 5px;
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
}

.style-lineal {
  color: "green";
  size: 1;
  width: "150";
}

.img-container-receive {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-receive {
  float: left;
  width: 12%;
}

.icon-receive {
  border-radius: 5rem;
  float: left;
  width: 20%;
}

.img-label-receive {
  color: #fecb2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-wallet-receive {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: rgb(134, 134, 134);
}

.hash-wallet-receive {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wallet-receive {
  color: #fecb2e;
  font-size: 80%;
}

.title-receive-money {
  color: white;
  font-size: 1.4rem;
  margin-left: 0.1rem;
}

.letters-receive-money {
  color: gray;
}

.wall-adress-receive {
  color: rgb(134, 134, 134);
}

.icon-bill-rec {
  color: rgb(134, 134, 134);
  margin-left: 0.35rem;
}

.icon-bill-rec:hover {
  content: "Copy";
  color: white;
  cursor: pointer;
}

.icon-bill-rec .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgb(29, 28, 28);
  color: #fecb2e;
  text-align: center;
  border-radius: 2px;
  padding: 0.15rem 0.35rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.icon-bill-rec:hover .tooltiptext {
  visibility: visible;
}

.rech-bill {
  justify-content: space-between;
}
/************************************************************/
.cont-text-bal {
  width: 100%;
  margin-top: 1.4rem;
}

.recharge-wallet {
  color: rgb(134, 134, 134);
  margin-left: 1.1rem;
  margin-top: 3.4rem;
}

.title-wallet {
  color: #fecb2e;
  font-size: 80%;
}

.title-recharge {
  color: white;
  font-size: 1.4rem;
  margin-left: 1.1rem;
}

.title-size-money {
  color: #fecb2e;
  font-size: 80%;
}

.input-cant {
  width: 30%;
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
  .cont-mark-bal {
    display: none;
  }

  .address-wallet-receive {
    display: none;
  }
}
