.tittle-money {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-1 {
  color: aliceblue;
  margin: 1.2rem 1.8rem;
  font-size: 1.5rem;
}
.section-main {
  /* background-color: #fff; */
  box-sizing: border-box;
  overflow: hidden;
  margin: 0.5rem auto;
}

.tabs {
  position: relative;
}

span.section-tags {
  position: fixed;
  display: none;
}

.section-tags + a {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  /* border: 1px solid #ddd; */
  margin-bottom: -1px;
  border-radius: 8px 8px 0 0;
  margin-right: 10px;
  text-decoration: none;
  color: aliceblue;
}

.section-tags:target + a {
  background-color: transparent;
  border-bottom-color: #fecb2e;
  text-decoration: none;
  color: #fecb2e;
  /* text-decoration: underline; */
}

#pnl_1,
#pnl_2,
#pnl_3 {
  position: absolute;
  top: 100%;
  left: 0;
  border: none;
  clear: both;
  overflow: hidden;
}

#pnl_1 > div,
#pnl_2 > div,
#pnl_3 > div {
  opacity: 0;
  transition: all 0.1s ease;
  /* //padding: 30px; */
}

#uno:target ~ #pnl_1,
#dos:target ~ #pnl_2,
#tres:target ~ #pnl_3 {
  position: static;
  border: none;
  /* border: 2px solid aliceblue; */
}

#uno:target ~ #pnl_1 > div,
#dos:target ~ #pnl_2 > div,
#tres:target ~ #pnl_3 > div {
  opacity: 1;
  transition: all 1s ease;
}
