.btn-conf-wall {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  float: right;
  justify-content: space-between;
  padding: 10px;
  width: 37%;
}

.recharge-wallet {
  color: rgb(134, 134, 134);
  margin-left: 1.1rem;
  margin-top: 3.4rem;
}

.title-wallet {
  color: #fecb2e;
  font-size: 80%;
}

.title-recharge {
  color: white;
  font-size: 1.4rem;
  margin-left: 1.1rem;
}

.cont-text-bal {
  width: 100%;
  margin-top: 1.4rem;
}

.title-size {
  color: #fecb2e;
  font-size: 80%;
  margin-top: 2rem;
}

.input-cant {
  width: 30%;
}

.tittle-wallet-module {
  margin-bottom: 0.5rem;
  margin-left: 0.5em;
}

.separator{
  margin: 0.75rem auto;
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
  .btn-conf-wall {
    display: none;
  }
}
