.btn-conf-wall {
  display: flex;
  float: right;
  width: 37%;
}

.recharge-wallet {
  color: rgb(134, 134, 134);
  margin-left: 1.1rem;
  margin-top: 3.4rem;
}

.title-wallet {
  color: #fecb2e;
  font-size: 80%;
}

.title-recharge {
  color: white;
  font-size: 1.4rem;
  margin-left: 1.1rem;
}

.cont-text-bal {
  width: 100%;
  margin-top: 1.4rem;
}

.title-size {
  color: #fecb2e;
  font-size: 80%;
  margin-top: 2rem;
}

.input-cant {
  width: 30%;
}

.style-cant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 360px) and (max-width: 700px) {
  .style-cant {
    display: none;
  }

  .btn-conf-wall {
    display: none;
  }
}
