.form-group {
    margin-bottom: 1rem;
}

.label-input{
    color: #fecb2e;
}

.form-input {
    background: none;
    background-color: black;
    color: #707070;
    font-size: 18px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid  #fff;
    border: 1px solid  #707070;
    padding: 5px 5px;
}