.form-row {
    display: flex;
    flex-direction: row;
}

.group {
    position: relative;
    margin: 10px 0;
}

.form-group {
    margin-bottom: 1rem;
}
.postal{
    flex-grow: 1;
    margin-right: 1.2rem;
}
.pais{
    flex-grow: 2;
}

.prefijo-label{
    color: #fecb2e;
}

.form-input {
    background: none;
    background-color: black;
    color: #707070;
    font-size: 18px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid  #fff;
    border: 1px solid  #fecb2e;
    padding: 5px 5px;
}

.form-input:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    #postalcode.form-row{
      flex-direction: column;
    }
    #postalcode.form-row{
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    #postalcode.form-row{
      flex-direction: column;
    }
    #postalcode.form-row{
        flex-direction: column;
    }
}

