// Palette colors
$colorMain: #000;
$colorBlack: #151515;
$colorSecondary: #23aab5;
$colorBlue: #3b66b7;
$colorGray: #707070;
$colorYellow: #fecb2e;
$colorRed: #b42c2c;
$colorGreen: #2e8b12;
$field-color: #fff;
$field-background: #1d1d1d;
$line-gray: #5a5353;
$color-component: #212529;
