/************************************************************/
.style-mont-money {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
  }

  .container-flex-money {
	align-items: flex-start;
	border-bottom: 2px solid gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
  }

  .container-flex-money-text {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
  }
  
  .description-send {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	padding: 10px;
  }
  .container-balance {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	div {
	  padding: 10px;
	}
  }
  .text-title-money {
	color: gray;
	line-height: 18px;
	float: left;
  }
  .text-content-money {
	color: #fecb2e;
	line-height: 20px;
	text-align: left;
  }
  .style-balance {
	margin: 5px;
	font-size: 2em;
	text-align: center;
	flex-grow: 1;
  }
  .style-lineal {
	color: "green";
	size: 1;
	width: "150";
  }
  .img-container-send {
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  }
  
  .icon-send {
	float: left;
	width: 20%;
	border-radius: 5rem;
  }
  
  .input-cant {
	width: 30%;
  }
  
  .img-label-send {
	color: #fecb2e;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .address-wallet-money {
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(134, 134, 134);
  }
  
  .title-wallet-money {
	color: #fecb2e;
	font-size: 80%;
  }
  
  .title-send {
	color: white;
	font-size: 1.4rem;
	margin-left: 1.1rem;
  }
  .btn-send {
	padding-top: 1rem;
  }
  .recharge-wallet {
	color: rgb(134, 134, 134);
	margin-left: 1.1rem;
	margin-top: 3.4rem;
  }
  .title-wallet {
	color: #fecb2e;
	font-size: 80%;
  }
  .title-recharge {
	color: white;
	font-size: 1.4rem;
	margin-left: 1.1rem;
  }
  .title-size-money {
	color: #fecb2e;
	font-size: 80%;
  }
  
  .txt-name {
	color: #fecb2e;
  }
  
  .txt-city {
	color: rgb(134, 134, 134);
  }
  
  /* Small devices (landscape phones, 360px and up) */
  @media screen and (min-width: 360px) and (max-width: 1199px) {
	.img-send {
	  display: none;
	}

	.cont-text-bal {
	  display: none;
	}
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
	.img-send {
	  align-items: center;
	  background-color: black;
	  display: flex;
	  height: 14rem;
	  flex-direction: column;
	  width: 12rem;
	}

	.cont-text-bal {
	  width: 100%;
	  margin-top: 1.4rem;
	}
  }
